body {
  background-image: url(https://images.unsplash.com/photo-1596501047896-38b9481efee2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YXN0ZXJvaWR8ZW58MHx8MHx8&w=1000&q=80);
  background-size: 100%;
}

h1 {
  margin-top: 63px;
  margin-bottom: 20px;
  margin-left: 102px;
}

p {
  width: 648px;
  height: 203px;
  margin-top: 40px;
  margin-left: 102px;
}