nav {
  display: flex;
  list-style: none;
  gap: 32px;
  margin-top: 50px;
  margin-left: 72px;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  color: #C4C4CC;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 21.6667px;
  line-height: 22px;
}

nav :hover {
  color: #FFFFFF;
}

button {
  padding: 12px 32px 12px 32px;
  border-radius: 5px;
  background: none;
  color: white;
  border: 2px solid rgba(255, 255, 255, 1);
  cursor: pointer;
  opacity: 0.5;
}

button:hover {
  opacity: 1;
}

svg {
  margin-top: -10px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  color: #E1E1E6;
}

p {
  margin-top: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #E1E1E6;
  text-align: center;
}